@import '../../../assets/styles/_variables.scss';

.wordsForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;

  &__checkbox {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem;
  }
  &__checked {
    transition: all ease-in-out 0.3s;
    &:hover &:active,
    &__text {
      color: $primary;
    }
  }
}
