@import '../../assets/styles/_variables.scss';
@import '../../assets/styles/_mixins.scss';

.form {
  &__container {
    margin-top: 3rem;
    padding: 2rem;
  }
  &__checkboxs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;

    &__checkbox {
      display: flex;
      justify-content: flex-start;
      margin: 0.5rem;
      padding: 0.5rem;
    }
    &__checked {
      transition: all ease-in-out 0.3s;

      &:hover,
      &__text {
        color: $primary;
      }
    }
  }
}
