@import '../../../assets/styles/_variables.scss';

.userInfoForm {
  padding: 1rem;

  &__helper-text {
    color: #f44336;
  }
}

/* label underline focus color */
.input-field input[type='number'] {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
}

.input-field input[type='number'].valid {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}
/* invalid color */
.input-field input[type='number'].invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}
